<a class="typography home" routerLink="/">tanneberger.me</a>

<nav>
  <!--<a class="typography" routerLink="/tools">Tools</a>-->
  <a class="typography" href="assets/cv.pdf">CV</a>
  <a class="typography" href="https://scholar.google.com/citations?user=594r5-sAAAAJ&hl=de" target="_blank">Google Scholar</a>
  <a class="typography" href="https://github.com/tanneberger" target="_blank">GitHub</a>
  <a class="typography" href="https://c3d2.social/@revol_xut" rel="me" target="_blank">Mastodon</a>
</nav>
