<article class="typography">
  <div class="intro">
      <div>
          <h1> Tassilo Tanneberger </h1>
          <p>
              <b>Studying Computer Science at <a href="https://cs.tu-dresden.de">TUD Dresden University of Technology</a></b>
          </p>
          <p>
              Interested in making modern software systems more reliable by researching new models of computation.
          </p>
      </div>
      <div class="right-align">
          <img class="profile" src="/assets/images/Tassilo.jpg">
      </div>
  </div>
  <div class="content">
      <h2>Projects</h2>
      <ul>
          <li><a href="https://tlm.solutions" target="_blank">Transport Live Mapping Solutions</a> - tracking locations of
              public transport vehicles.
          <li><a href="https://dd-ix.net" target="_blank">Dresden Internet Exchange (DD-IX)</a> - connecting the city of
              Dresden
          <li><a href="https://lf-lang.org" target="_blank">Lingua-Franca</a> - a polyglot coordination language ensuring deterministic
              concurrency
      </ul>
      <h2>Publications & Talks</h2>
      <div class="output">
          <app-card [lightShadow]="true" class="left" backgroundImage="/assets/images/fsw24.webp" link="https://fsw24.tanneberger.me">
              <div class="highlight-content">
                  <p>17th Flight Software Workshop</p>
              </div>
          </app-card>
          <app-card [lightShadow]="true" class="left" backgroundImage="/assets/images/alasca.webp" link="https://alasca.cloud/alasca-tech-talk-15/">
              <div class="highlight-content">
                  <p>ALASCA Tech Talk: DD-IX: A Local Infrastructure with Local Impact for You.</p>
              </div>
          </app-card>
          <app-card [lightShadow]="true" class="left" backgroundImage="/assets/images/tud.webp" link="https://dl.acm.org/doi/10.1145/3617687">
              <div class="highlight-content">
                  <p>High-performance Deterministic Concurrency Using Lingua Franca</p>
              </div>
          </app-card>
      </div>


      <h2>Other</h2>
      <div class="row">
          <div class="right">
              <ul>
                  <li><a href="https://github.com/netd-tud/IETF-ASPA" target="_blank">Autonomous System Provider Attestation</a> - implementing
                  ASPA support in the rtrlib and helping the draft across the finish line.
              </ul>
          </div>
      </div>
  </div>

  <h2>Contact</h2>
  <p>You can reach out to me at one of the following ways:</p>
  <ul>
    <li>e-mail: <a href="mailto:tassilo@tanneberger.me"><code>tassilo@tanneberger.me</code></a></li>
    <li>matrix: <a href="https://matrix.to/#/@tassilo.tanneberger:matrix.ifsr.de" target="_blank"><code>@tassilo.tanneberger:matrix.ifsr.de</code></a></li>
    <li>xmpp: <a href="mailto: revol-xut@jabber.c3d2.de" target="_blank"><code>revol-xut@jabber.c3d2.de</code></a></li>
  </ul>
  <p>My Keys:</p>
  <ul>
    <li><b>SSH</b> - <a href="/id_rsa.pub"><code>id_rsa.pub</code></a></li>
    <li><b>PGP</b> - <a href="/tassilo.asc"><code>0xB966009D57E69CC6.asc</code></a></li>
  </ul>
</article>
